<!-- Player Information Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>2018 Player Info</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="home.html">
		<img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		 <li class="nav-item">
			<a class="nav-link" href="home.html">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="team_stats.html">Season Stats <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item active">
			<a class="nav-link" href="player_info.html">Player Information</a>
		  </li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
		</div>
	  </div>
	</nav>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<!-- 
					Todo: This section will hold a Bootstrap Card containing
						   a demo image (temp_image.svg) and a Bootstrap Dropdown menu
						   to allow the user to select between 3 temp players (switching between
						   the players will be implemented in a future lab).
				-->
				<div class="card">
					<img class="card-img-top" src="https://www.popsci.com/g00/3_c-6bbb.utux78hn.htr_/c-6RTWJUMJZX68x24myyux78x3ax2fx2fbbb.utux78hn.htrx2fx78nyjx78x2futux78hn.htrx2fknqjx78x2fx78ydqjx78x2f100_6c_x2fuzgqnhx2fnrfljx78x2f7563x2f53x2ftfp-ywjj-7563377_6475.oulx3fnytpx3doQwJElu9x26khx3d05x2c05x26n65h.rfwpx3dnrflj_$/$/$/$/$/$/$/$/$/$/$" alt="An image of a tree taken by Brian Green & listed on Wikipedia"
						height="auto" width="auto">
					<div class="card-body">
						<h1 class="card-title">Giant Tree</h1>
						<hr>
						<p class="card-text">I'm Giant Tree, I am the home to some birds and a few squirrels.</p>
					</div>
				</div>
			</div>
			<div class="col-8">
				<!-- 
					Todo: This section will hold a table with a temp player's information
					
					|  Year                |  Junior                  |
					|  Major               |  History                 |
					|  Games Played        |  32                      |
					|  Passing Yards: 855  |  Avg. Passing Yards: 26  |
					|  Rushing Yards: 378  |  Avg. Rushing Yards: 12  |
					|  Receiving Yards: 57 |  Avg. Receiving Yards: 2 |\
				-->
				<table class="table table-striped">
					<thead>
						<tr>
							<th><h2>Catagory</h2></th>
							<th><h2>Stat</h2></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>major</th>
							<th>Tree</th>
						</tr>
						<tr>
							<th>year</th>
							<th>600</th>
						</tr>
						<tr>
							<th>games played</th>
							<th>all</th>
						</tr>
						<tr>
							<th>passing yards</th>
							<th>???</th>
						</tr>
						<tr>
							<th>rushing yards</th>
							<th>378</th>
						</tr>
						<tr>
							<th>receiving yards</th>
							<th>4</th>
						</tr>
						<tr>
							<th>avg passing yards</th>
							<th>845</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				Dropdown button
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="https://www.google.com/search?biw=1156&bih=832&tbm=isch&q=trees+of+colorado&chips=q:trees+of+colorado,g_1:aspen:krGecumizZU%3D&usg=AI4_-kTVscvhtp2N-7MKucbXnZF3amcDiw&sa=X&ved=0ahUKEwiqz4O4hMTgAhXkm-AKHfSEAkgQ4lYIKSgB">yeet</a>
				<a class="dropdown-item" href="https://www.google.com/search?biw=1156&bih=832&tbm=isch&q=trees+of+colorado&chips=q:trees+of+colorado,g_1:native:GTWBB_qy57A%3D&usg=AI4_-kRBgl6kevhZKNiCZnjWW7HvrtIG1g&sa=X&ved=0ahUKEwiqz4O4hMTgAhXkm-AKHfSEAkgQ4lYILSgE">yeet^2</a>
				<a class="dropdown-item" href="https://www.google.com/search?biw=1156&bih=832&tbm=isch&q=trees+of+colorado&chips=q:trees+of+colorado,g_1:small:rQFxNA0PJsY%3D&usg=AI4_-kRSZ30S33mNXe5HM5zxyywLvOY83A&sa=X&ved=0ahUKEwiqz4O4hMTgAhXkm-AKHfSEAkgQ4lYIMSgG">yeet^4</a>
			</div>
		</div>
		
	</div>
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>